node_modules
dist/
.build
.cache
*.log
.DS_Store
.pai
.swc
.project
.settings
*.swp
*.swo
*~
src/
config/
scripts/
cloudfunctions/
types/
babel.config.js
package.json
package-lock.json
project.config.json
project.tt.json
simple-server.js
tsconfig.json